* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Single Day", cursive;
  text-align: center;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  overflow: hidden;
}
.main {
  height: 585px;
  /* background-color: red; */
}
.search_button {
  margin-left: 20px;
  background-color: transparent;
  width: 70px;
  height: 50px;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  vertical-align: 5px;
}
.main-card img {
  margin-top: 15px;
  border-radius: 30px;
  box-shadow: 2px -3px 4px black;
  width: 300px;
  height: 300px;
}
.main-card button {
  /* background-color: rgb(5, 27, 25); */
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: relative;
  left: -45px;
  bottom: 25px;
}
.footer {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  width: 100%;
  height: 230px;
}
.Item {
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.Item::after {
  content: "X";
  width: 20px;
  height: 20px;
  background-color: gray;
  position: relative;
  right: 30px;
  top: -5px;
  border-radius: 50%;
  cursor: pointer;
}
